:root{
	--color-general:#686868;
	--color-titulos:#303030;
	--color-hover-menu:#FE8F01;
	--fondo-header:#202020;
	--fondo-footer: #353330;
	--letra-footer: #777;
}
body{
	font-size: 17px;
	color: #666;
}
header{
	background-color: var(--fondo-header);
}
footer{
	background-color: var(--fondo-footer);
	padding: 15px 0;
	color: var(--letra-footer);
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}

/* HERO GENERAL */
.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* Pantalla completa */
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 70%;
}

.hero-text .welcome {
	font-family: Alegreya sans, serif;
    font-size: 22px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.hero-text .title {
    font-size: 70px;
    font-family: Alegreya , serif;
    margin-bottom: 20px;
}

.hero-text .desc {
	font-family: Alegreya  sans, serif;
    font-size: 18px;
    margin-bottom: 30px;
}

/* BOTONES */
.hero-buttons .btn {
    padding: 10px 25px;
    margin: 0 8px;
    font-size: 16px;
}







.who-we-are img {
    border-radius: 10px;
}

.section-title {
    font-size: 42px;
    color: var(--color-titulos);
     font-family: Alegreya , serif;

}

.icon-info p {
    
	font-size: 17px;
    margin-bottom: 12px;
	
}

.icon-info i {
    margin-right: 10px;
    color: #FE8F01;
    font-size: 20px;
}
